body {
	font-family: monaco, monospace;
}

div {
    display: inline;
}

/* Any equation part should have a white background by default */
.equation {
	background-color: #fff;
	color: #000;
	padding: 0px 0px 0px 0px;
}

/* .hover applies to divs that represent the part of the equation that the user is hovering over */
.highlight {
	background-color: #9cf;
	color: #000;
	padding: 2px 0px 2px 0px; /* Extra padding makes the highlight look a bit nicer */
}